.btn,
.wp-block-button__link,
.wp-block-button__link:visited,
.is-style-outline a,
input[type=submit] {
	display: inline-block;
	border-radius: 100px;
	padding: 0.2rem 0.75rem 0 0.75rem;
	border: 0;
	line-height: 1.5;
	background-color: var(--color-primary);
	color: white;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size);
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&:hover, &:focus {
		outline: 0;
		background-color: white;
		color:  var(--color-primary);
		text-decoration: none;
	}
}

.btn--border {
	background-color: var(--color-grey-dark);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);

	&:hover, &:focus {
		background-color: var(--color-primary);
		color: white;
	}
}

.btn--large {
	padding: 0.4rem 1rem 0 1rem;
	font-size: var(--font-size-lead);
	font-weight: var(--font-weight-normal);
}
.btn--circle {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.25rem 1rem 0 1rem;
	font-size: var(--font-size-small);
	// padding: 0.5rem;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: var(--color-grey-dark);
	border: 1px solid rgba(255,255,255, 0.5);
	color: white;
	transition: all 0.1s ease-in-out;
	&:hover, &:focus {
		background-color: var(--color-primary);
		color: white;
		text-decoration: none;
		transition: all 0.1s ease-in-out;
	}
	&-large {
		width: 200px;
		height: 200px;
	}
}

.btn__group {
	display: flex;
	margin-top: 0;
}
