.btn,
.wp-block-button__link,
.wp-block-button__link:visited,
.is-style-outline a {
	display: inline-block;
	border-radius: var(--border-radius);
	padding: 0.2rem 0.75rem 0 0.75rem;
	border: 0;
	line-height: 1.5;
	background-color: var(--color-primary);
	color: white;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size);
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&:hover, &:focus {
		outline: 0;
		background-color: white;
		color:  var(--color-primary);
		text-decoration: none;
	}
}
