.accordion {
	// max-width: var(--content-width);
	padding: 0;
}

.accordion__item {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	&:last-of-type {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.accordion__handle {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	// align-items: center;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: var(--spacing-s) 0;
	border: 0;
	background: transparent;
	cursor: pointer;
	// border-top: 1px solid var(--color-grey-tint);
	@include mq(large) {
		align-items: center;
		flex-direction: row;
	}
}

.accordion__title {
	margin: 0!important;
	color: var(--color-text-dark);
	text-transform: uppercase;
	font-size: var(--font-size-h5);
	@include mq(medium) {
		min-width: 340px;
	}
	@include mq(large) {
		min-width: 400px;
	}
	// flex: 1;

	opacity: 1;
	transform: translateY(0px);
	p, h3 {
		opacity: 1;
		transform: translateY(0px);
	}

	.is-active & {
		color: var(--color-primary);
	}
}
.accordion__subtitle {
	padding-right: var(--spacing);
	@include mq(medium) {
		padding-right: 0;
	}
	p {
		font-size: var(--font-size-small);
		color: white;
		opacity: 1;
		transform: translateY(0px);
	}
}

.accordion__icon {
	position: relative;
	margin-left: auto;
	margin-top: -30px;
	// width: 42px;
	// height: 26px;
	// margin: 0 var(--spacing);

	&:after {
		content: url("../../src/icons/arrow-accordion-small.svg");
		position: relative;
		display: inline-flex;
		width: 30px;
		height: 18px;
		transition: transform 0.25s ease-out;
		// transform: rotate(180deg);
		@include mq(medium) {
			content: url("../../src/icons/arrow-accordion.svg");
			width: 42px;
			height: 26px;
		}
	}

	.is-active & {
		&:after {
			transform: rotate(180deg);
		}
	}
	@include mq(large) {
		margin-top: 0;
		margin-left: auto;
	}
}

.accordion__body {
	display: none;
	padding-bottom: var(--spacing-l);
	padding-right: var(--spacing-s);
	@include mq(medium) {
		padding-right: var(--spacing-xl);
	}

	p:first-child {
		margin-top: 0;
	}

	&.is-open {
		display: block;
	}
}

