.work-details {
	width: 100%;
	background-color: red;
	&__inner {
		@extend .container;
		// display: flex;
		// flex-direction: column;
		// @include mq(medium) {
		// 	flex-direction: row;
		// }
		p {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	&__specs {
		width: 100%;
		padding-right: 25%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@include mq(medium) {
			flex-direction: row;
		}

		div {
			display: flex;
			align-items: flex-start;
			padding-right: var(--spacing-s);
			p {
				text-transform: uppercase;
			}
		}
	}
}
