.spacer {
	width: 100%;
	clear: both;
	// border: 1px dashed rgba(255, 255, 255, 0.2);
}
.size-1 {
	height: var(--spacing-xs);
}
.size-2 {
	height: var(--spacing-s);
}
.size-3 {
	height: var(--spacing);
}
.size-4 {
	height: var(--spacing-l);
}
.size-5 {
	height: var(--spacing-xl);
}
.size-6 {
	height: var(--spacing-xxl);
}
