// .tabbed {
// 	// background-color: red;
// 	position: relative;
// 	&.has-tabs {
// 		.tabbed--buttons {
// 			opacity: 1;
// 			height: auto;
// 			visibility: visible;
// 		}

// 		.tabbed--item {
// 			min-height: 0;

// 			&::before {
// 				display: none;
// 			}

// 			&.is-active {
// 				.tabbed--item__inner {
// 					opacity: 1;
// 					transition: opacity 400ms ease-in-out;
// 				}
// 			}
// 			.tabbed--item__inner {
// 				opacity: 0;
// 				transition: opacity 400ms ease-in-out;
// 			}
// 		}
// 	}
// }

.js-tabs {
	max-width: 100%;
}

.tabbed--buttons {
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing);
	display: flex;
	// justify-content: space-between;
	flex-flow: wrap;
	margin: 0;
	list-style: none;
	padding: 0;
	overflow: hidden;

	li {
		display: inline-block;
		float: left;
	}
}

.tabbed--button {
	background-color: transparent;
	border: 0;
	color: white;
	opacity: 0.5;
	text-transform: uppercase;
	font-weight: var(--font-weight-normal);
	margin: 0 var(--spacing-s);
	cursor: pointer;
	display: block;
	padding: 1rem;

	&:hover {
		color: white;
		opacity: 1;
		text-decoration: none;
	}
}

.tabbed--button-active {
	opacity: 1;
	font-weight: var(--font-weight-black);
}

.js-tabs__content {
	border: 1px solid #ccc;
	line-height: 1.5;
	margin-top: -1px;
	padding: 1em 2em 3em;
}

.tabbed--buttons1 {
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing);
	display: flex;
	// justify-content: space-between;
	flex-flow: wrap;
	margin: 0;
	list-style: none;
	padding: 0;

	.tab {
		background-color: transparent;
		border: 0;
		color: white;
		text-transform: uppercase;
		font-weight: var(--font-weight-normal);
		opacity: 0.5;
		margin: 0 var(--spacing-s);
		&:hover,
		&:focus {
			opacity: 1;
			cursor: pointer;
			text-decoration: none;
		}
		&.is-active {
			opacity: 1;
			font-weight: var(--font-weight-black);
			// border-top: 3px solid var(--color-tertiary);
			// color: var(--color-tertiary);
		}
	}

	.tab {
	}
}

.tabbed--item {
	// background-color: green;
	// position: relative;
	// overflow: hidden;

	// &:hover,
	// &:focus {
	// 	outline: none;
	// 	&::before {
	// 		background:  var(--color-secondary);
	// 		color: white;
	// 	}
	// }

	// &.is-active {
	// 	.tabbed--item__inner {
	// 		margin-top: 0;
	// 		height: auto;
	// 		opacity: 1;
	// 		transition: margin 400ms ease-out -100ms;
	// 	}
	// }

	&__content {
		// position: absolute;
		z-index: 99;
		@include mq(medium) {
			position: absolute;
		}
	}
}

.tabbed--item-container {
	// overflow: hidden;
	// margin-bottom: 1px;
}

.tabbed--item__inner {
	@extend .container;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: var(--spacing);
	@include mq(medium) {
		flex-direction: row;
	}
}


.tab-slider {
	padding-bottom: 50px;
	.slick-arrow {
		@include mq(medium) {
			top: calc(var(--spacing) + 600px);
		}
	}
	&-item {
		padding: 0 1rem;
		flex-direction: column;
		align-items: center;
		@include mq(medium) {
			padding: 0;
		}
	}
	&__image {
		@include mq(medium) {
			height: 600px;
			margin-bottom: var(--spacing-xl);
		}
		img {
			height: 100%;
		}
	}

	&__grid {
		max-width: var(--content-width);
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: var(--spacing-xs) var(--spacing-s);
			.icon, img {
				width: 100px;
				height: 100px;
				margin-bottom: var(--spacing-xs);
			}
			p {
				opacity: 1;
				transform: translateY(0px);
				margin-bottom: var(--spacing-xs);
			}
		}
	}
}
