/* Generate block colours */
@each $name, $color in $block-colors {
	.has-#{$name}-color {
		color: $color!important;
	}

	.has-#{$name}-background-color {
		background-color: $color!important;
	}
}

.edit-post-visual-editor__post-title-wrapper {
	border-bottom: 1px solid var(--color-grey);
	// max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.edit-post-visual-editor__post-title-wrapper h1 {
	font-size: 48px;
	color: white;
	font-weight: var(--font-weight-bold);
}
/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}

/* Add bullets to list */
.block-editor-block-list__block {
	list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
	max-width: var(--container-width);

	/* Post title styling */
	.editor-post-title__input {
	}
}

/* Main column width */
.wp-block {
	max-width: var(--container-width);
	margin-left: 0;
	margin-right: 0;
	.container {
		padding: 0 2rem;
	}
	/* Wide column width */
	&[data-align="wide"],
	&[data-align="full"] {
		max-width: none;
	}
}
.wp-block-post-content > .wp-block-heading,
.wp-block-post-content > p,
.wp-block-post-content .wp-block-buttons {
	max-width: var(--container-width);
	padding: 0 2rem;
}

// Undo blockquote styles
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 0;
	padding-left: 0;
}

// Fix space between image and caption
.wp-block-image {
	line-height: 0;
}

// Full width button
.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
	display: block;
}

// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}
.block-editor-default-block-appender .block-editor-inserter {
	position: relative;
	width: 100%;
	// top: 20px;
	margin-bottom: 20px;
	display: flex;
}
.block-editor-block-list__block .block-list-appender.block-list-appender {
	width: 100%;
	// bottom: -10px;
	bottom: 0;
	position: relative;
}
.block-editor-block-list__block .block-list-appender .block-editor-inserter__toggle.components-button.has-icon, .block-editor-block-list__block .block-list-appender .block-list-appender__toggle {
	width: 100%;
}
.block-editor-default-block-appender .block-editor-inserter__toggle.components-button.has-icon {
	width: 100%;
	// padding: 2rem 1rem;
	border-radius: 4px;
	max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}
.editor-styles-wrapper .grid-item .arrow,
.editor-styles-wrapper .featured-item .arrow {
	display: none !important;
}
.editor-styles-wrapper .has-large-font-size {
	font-size: var(--font-size-lead) !important;
}
.spacer {
	border: 1px dotted rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.05);
}
h2, .heading-2, h2.has-medium-font-size { font-size: var(--font-size-h2) !important;}
h2.has-large-font-size {
	font-size: var(--font-size-h1) !important;
}
h2.has-small-font-size {
	font-size: var(--font-size-h3) !important;
}

.slider {
	// display: flex;
	.slider-item {
		display: none !important;
		opacity: 1 !important;
		&:first-child {
			display: flex !important;
		}
	}
}

hr,
.wp-block-separator {
	height: 10px;
}
.form-admin {
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: var(--spacing-l);
}
.fix-image {
	// background-color: red;
	min-height: 100px;
	z-index: 0 !important;
}
